.preview-page {
  padding: 30px 27.45vw;
  width: 100%;
}
.preview-page h2 {
  font-size: 16px;
  font-weight: 500;
}

.preview-page h3 {
  font-size: 16px;
}

.preview-page .personal-data h3 {
  margin-top: 20px;
}

.preview-page .kids-block {
  margin-top: 60px;
}

.preview-page .kids-block .all-kids {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.preview-page .kids-block .all-kids .one-kid {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  width: fit-content;
}
